<!-- Breadcrumb -->
<div class="breadcrumb-bar-two">
    <div class="container">
        <div class="row align-items-center inner-banner">
            <div class="col-md-12 col-12 text-center">
                <h2 class="breadcrumb-title">Favourites</h2>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink] = "routes.home1">Home</a></li>
                        <li class="breadcrumb-item" aria-current="page">Favourites</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-lg-4 col-xl-3 ">
                <div class="stickybar">
                <div class="profile-sidebar">
                    <div class="widget-profile pro-widget-content">
                        <div class="profile-info-widget">
                            <a href="javascript:void(0)" class="booking-doc-img">
                                <img src="assets/img/patients/patient.jpg" alt="User Image">
                            </a>
                            <div class="profile-det-info">
                                <h3>Richard Wilson</h3>
                                <div class="patient-details">
                                    <h5><i class="fas fa-birthday-cake"></i> 24 Jul 1983, 38 years</h5>
                                    <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Newyork, USA</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-widget">
                        <nav class="dashboard-menu">
                            <ul>
                                <li>
                                    <a [routerLink] = "routes.patientDashboard">
                                        <i class="fas fa-columns"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a [routerLink] = "routes.favourites">
                                        <i class="fas fa-bookmark"></i>
                                        <span>Favourites</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.dependentList">
                                        <i class="fas fa-users"></i>
                                        <span>Dependent</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.chat">
                                        <i class="fas fa-comments"></i>
                                        <span>Message</span>
                                        <small class="unread-msg">23</small>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.patientAccounts">
                                        <i class="fas fa-file-invoice-dollar"></i>
                                        <span>Accounts</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.ordersList">
                                        <i class="fas fa-list-alt"></i>
                                        <span>Orders</span>
                                        <small class="unread-msg">7</small>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.medicalRecords">
                                        <i class="fas fa-clipboard"></i>
                                        <span>Add Medical Records</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.medicalDetails">
                                        <i class="fas fa-file-medical-alt"></i>
                                        <span>Medical Details</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.profileSettings">
                                        <i class="fas fa-user-cog"></i>
                                        <span>Profile Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.patientsChangePassword">
                                        <i class="fas fa-lock"></i>
                                        <span>Change Password</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.userLogin">
                                        <i class="fas fa-sign-out-alt"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
                </div>
            </div>
            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="row row-grid">
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="profile-widget">
                            <div class="doc-img">
                                <a [routerLink] = "routes.doctorProfile">
                                    <img class="img-fluid" alt="User Image" src="assets/img/doctors/doctor-01.jpg">
                                </a>
                                <a href="javascript:void(0)" class="fav-btn" (click)="toggleClass(0)" (keydown)="toggleClass(0)" tabindex="1" [ngClass]="{ like: isClassAdded[0] }">
                                    <i class="far fa-bookmark"></i>
                                </a>
                            </div>
                            <div class="pro-content">
                                <h3 class="title">
                                    <a [routerLink] = "routes.doctorProfile">Dr. Ruby Perrin</a> 
                                    <i class="fas fa-check-circle verified"></i>
                                </h3>
                                <p class="speciality">MDS - Periodontology and Oral Implantology, BDS</p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <span class="d-inline-block average-rating">(17)</span>
                                </div>
                                <ul class="available-info">
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i> Florida, USA
                                    </li>
                                    <li>
                                        <i class="far fa-clock"></i> Available on Fri, 22 Mar
                                    </li>
                                    <li>
                                        <i class="far fa-money-bill-alt"></i> $300 - $1000 <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Lorem Ipsum"></i>
                                    </li>
                                </ul>
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a [routerLink] = "routes.doctorProfile" class="btn view-btn">View Profile</a>
                                    </div>
                                    <div class="col-6">
                                        <a [routerLink] = "routes.booking1" class="btn book-btn">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="profile-widget">
                            <div class="doc-img">
                                <a [routerLink] = "routes.doctorProfile">
                                    <img class="img-fluid" alt="User Image" src="assets/img/doctors/doctor-02.jpg">
                                </a>
                                <a href="javascript:void(0)" class="fav-btn" (click)="toggleClass(1)" (keydown)="toggleClass(1)" tabindex="1" [ngClass]="{ like: isClassAdded[1] }">
                                    <i class="far fa-bookmark"></i>
                                </a>
                            </div>
                            <div class="pro-content">
                                <h3 class="title">
                                    <a [routerLink] = "routes.doctorProfile">Dr. Darren Elder</a> 
                                    <i class="fas fa-check-circle verified"></i>
                                </h3>
                                <p class="speciality">BDS, MDS - Oral & Maxillofacial Surgery</p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star me-1"></i>
                                    <span class="d-inline-block average-rating">(35)</span>
                                </div>
                                <ul class="available-info">
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i> Newyork, USA
                                    </li>
                                    <li>
                                        <i class="far fa-clock"></i> Available on Fri, 22 Mar
                                    </li>
                                    <li>
                                        <i class="far fa-money-bill-alt"></i> $50 - $300 <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Lorem Ipsum"></i>
                                    </li>
                                </ul>
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a [routerLink] = "routes.doctorProfile" class="btn view-btn">View Profile</a>
                                    </div>
                                    <div class="col-6">
                                        <a [routerLink] = "routes.booking1" class="btn book-btn">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="profile-widget">
                            <div class="doc-img">
                                <a [routerLink] = "routes.doctorProfile">
                                    <img class="img-fluid" alt="User Image" src="assets/img/doctors/doctor-03.jpg">
                                </a>
                                <a href="javascript:void(0)" class="fav-btn" (click)="toggleClass(2)" (keydown)="toggleClass(2)" tabindex="1" [ngClass]="{ like: isClassAdded[2] }">
                                    <i class="far fa-bookmark"></i>
                                </a>
                            </div>
                            <div class="pro-content">
                                <h3 class="title">
                                    <a [routerLink] = "routes.doctorProfile">Dr. Deborah Angel</a> 
                                    <i class="fas fa-check-circle verified"></i>
                                </h3>
                                <p class="speciality">MBBS, MD - General Medicine, DNB - Cardiology</p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star me-1"></i>
                                    <span class="d-inline-block average-rating">(27)</span>
                                </div>
                                <ul class="available-info">
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i> Georgia, USA
                                    </li>
                                    <li>
                                        <i class="far fa-clock"></i> Available on Fri, 22 Mar
                                    </li>
                                    <li>
                                        <i class="far fa-money-bill-alt"></i> $100 - $400 <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Lorem Ipsum"></i>
                                    </li>
                                </ul>
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a [routerLink] = "routes.doctorProfile" class="btn view-btn">View Profile</a>
                                    </div>
                                    <div class="col-6">
                                        <a [routerLink] = "routes.booking1" class="btn book-btn">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="profile-widget">
                            <div class="doc-img">
                                <a [routerLink] = "routes.doctorProfile">
                                    <img class="img-fluid" alt="User Image" src="assets/img/doctors/doctor-04.jpg">
                                </a>
                                <a href="javascript:void(0)" class="fav-btn" (click)="toggleClass(3)" (keydown)="toggleClass(3)" tabindex="1" [ngClass]="{ like: isClassAdded[3] }">
                                    <i class="far fa-bookmark"></i>
                                </a>
                            </div>
                            <div class="pro-content">
                                <h3 class="title">
                                    <a [routerLink] = "routes.doctorProfile">Dr. Sofia Brient</a> 
                                    <i class="fas fa-check-circle verified"></i>
                                </h3>
                                <p class="speciality">MBBS, MS - General Surgery, MCh - Urology</p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star me-1"></i>
                                    <span class="d-inline-block average-rating">(4)</span>
                                </div>
                                <ul class="available-info">
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i> Louisiana, USA
                                    </li>
                                    <li>
                                        <i class="far fa-clock"></i> Available on Fri, 22 Mar
                                    </li>
                                    <li>
                                        <i class="far fa-money-bill-alt"></i> $150 - $250 <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Lorem Ipsum"></i>
                                    </li>
                                </ul>
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a [routerLink] = "routes.doctorProfile" class="btn view-btn">View Profile</a>
                                    </div>
                                    <div class="col-6">
                                        <a [routerLink] = "routes.booking1" class="btn book-btn">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="profile-widget">
                            <div class="doc-img">
                                <a [routerLink] = "routes.doctorProfile">
                                    <img class="img-fluid" alt="User Image" src="assets/img/doctors/doctor-05.jpg">
                                </a>
                                <a href="javascript:void(0)" class="fav-btn" (click)="toggleClass(4)" (keydown)="toggleClass(4)" tabindex="1" [ngClass]="{ like: isClassAdded[4] }">
                                    <i class="far fa-bookmark"></i>
                                </a>
                            </div>
                            <div class="pro-content">
                                <h3 class="title">
                                    <a [routerLink] = "routes.doctorProfile">Dr. Marvin Campbell</a> 
                                    <i class="fas fa-check-circle verified"></i>
                                </h3>
                                <p class="speciality">MBBS, MD - Ophthalmology, DNB - Ophthalmology</p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star me-1"></i>
                                    <span class="d-inline-block average-rating">(66)</span>
                                </div>
                                <ul class="available-info">
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i> Michigan, USA
                                    </li>
                                    <li>
                                        <i class="far fa-clock"></i> Available on Fri, 22 Mar
                                    </li>
                                    <li>
                                        <i class="far fa-money-bill-alt"></i> $50 - $700 
                                        <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Lorem Ipsum"></i>
                                    </li>
                                </ul>
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a [routerLink] = "routes.doctorProfile" class="btn view-btn">View Profile</a>
                                    </div>
                                    <div class="col-6">
                                        <a [routerLink] = "routes.booking1" class="btn book-btn">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="profile-widget">
                            <div class="doc-img">
                                <a [routerLink] = "routes.doctorProfile">
                                    <img class="img-fluid" alt="User Image" src="assets/img/doctors/doctor-06.jpg">
                                </a>
                                <a href="javascript:void(0)" class="fav-btn" (click)="toggleClass(5)" (keydown)="toggleClass(5)" tabindex="1" (keydown)="toggleClass(5)" tabindex="1" [ngClass]="{ like: isClassAdded[5] }">
                                    <i class="far fa-bookmark"></i>
                                </a>
                            </div>
                            <div class="pro-content">
                                <h3 class="title">
                                    <a [routerLink] = "routes.doctorProfile">Dr. Katharine Berthold</a> 
                                    <i class="fas fa-check-circle verified"></i>
                                </h3>
                                <p class="speciality">MS - Orthopaedics, MBBS, M.Ch - Orthopaedics</p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star me-1"></i>
                                    <span class="d-inline-block average-rating">(52)</span>
                                </div>
                                <ul class="available-info">
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i> Texas, USA
                                    </li>
                                    <li>
                                        <i class="far fa-clock"></i> Available on Fri, 22 Mar
                                    </li>
                                    <li>
                                        <i class="far fa-money-bill-alt"></i> $100 - $500 
                                        <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Lorem Ipsum"></i>
                                    </li>
                                </ul>
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a [routerLink] = "routes.doctorProfile" class="btn view-btn">View Profile</a>
                                    </div>
                                    <div class="col-6">
                                        <a [routerLink] = "routes.booking1" class="btn book-btn">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="profile-widget">
                            <div class="doc-img">
                                <a [routerLink] = "routes.doctorProfile">
                                    <img class="img-fluid" alt="User Image" src="assets/img/doctors/doctor-07.jpg">
                                </a>
                                <a href="javascript:void(0)" class="fav-btn" (click)="toggleClass(6)" (keydown)="toggleClass(6)" tabindex="1" [ngClass]="{ like: isClassAdded[6] }">
                                    <i class="far fa-bookmark"></i>
                                </a>
                            </div>
                            <div class="pro-content">
                                <h3 class="title">
                                    <a [routerLink] = "routes.doctorProfile">Dr. Linda Tobin</a> 
                                    <i class="fas fa-check-circle verified"></i>
                                </h3>
                                <p class="speciality">MBBS, MD - General Medicine, DM - Neurology</p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star me-1"></i>
                                    <span class="d-inline-block average-rating">(43)</span>
                                </div>
                                <ul class="available-info">
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i> Kansas, USA
                                    </li>
                                    <li>
                                        <i class="far fa-clock"></i> Available on Fri, 22 Mar
                                    </li>
                                    <li>
                                        <i class="far fa-money-bill-alt"></i> $100 - $1000 
                                        <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Lorem Ipsum"></i>
                                    </li>
                                </ul>
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a [routerLink] = "routes.doctorProfile" class="btn view-btn">View Profile</a>
                                    </div>
                                    <div class="col-6">
                                        <a [routerLink] = "routes.booking1" class="btn book-btn">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="profile-widget">
                            <div class="doc-img">
                                <a [routerLink] = "routes.doctorProfile">
                                    <img class="img-fluid" alt="User Image" src="assets/img/doctors/doctor-08.jpg">
                                </a>
                                <a href="javascript:void(0)" class="fav-btn" (click)="toggleClass(7)" (keydown)="toggleClass(7)" tabindex="1" [ngClass]="{ like: isClassAdded[7] }">
                                    <i class="far fa-bookmark"></i>
                                </a>
                            </div>
                            <div class="pro-content">
                                <h3 class="title">
                                    <a [routerLink] = "routes.doctorProfile">Dr. Paul Richard</a> 
                                    <i class="fas fa-check-circle verified"></i>
                                </h3>
                                <p class="speciality">MBBS, MD - Dermatology , Venereology & Lepros</p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star me-1"></i>
                                    <span class="d-inline-block average-rating">(49)</span>
                                </div>
                                <ul class="available-info">
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i> California, USA
                                    </li>
                                    <li>
                                        <i class="far fa-clock"></i> Available on Fri, 22 Mar
                                    </li>
                                    <li>
                                        <i class="far fa-money-bill-alt"></i> $100 - $400 
                                        <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Lorem Ipsum"></i>
                                    </li>
                                </ul>
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a [routerLink] = "routes.doctorProfile" class="btn view-btn">View Profile</a>
                                    </div>
                                    <div class="col-6">
                                        <a [routerLink] = "routes.booking1" class="btn book-btn">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="profile-widget">
                            <div class="doc-img">
                                <a [routerLink] = "routes.doctorProfile">
                                    <img class="img-fluid" alt="User Image" src="assets/img/doctors/doctor-09.jpg">
                                </a>
                                <a href="javascript:void(0)" class="fav-btn" (click)="toggleClass(8)" (keydown)="toggleClass(8)" tabindex="1" [ngClass]="{ like: isClassAdded[8] }">
                                    <i class="far fa-bookmark"></i>
                                </a>
                            </div>
                            <div class="pro-content">
                                <h3 class="title">
                                    <a [routerLink] = "routes.doctorProfile">Dr. John Gibbs</a> 
                                    <i class="fas fa-check-circle verified"></i>
                                </h3>
                                <p class="speciality">MDS - Periodontology and Oral Implantology, BDS</p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star me-1"></i>
                                    <span class="d-inline-block average-rating">(112)</span>
                                </div>
                                <ul class="available-info">
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i> Oklahoma, USA
                                    </li>
                                    <li>
                                        <i class="far fa-clock"></i> Available on Fri, 22 Mar
                                    </li>
                                    <li>
                                        <i class="far fa-money-bill-alt"></i> $500 - $2500 
                                        <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Lorem Ipsum"></i>
                                    </li>
                                </ul>
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a [routerLink] = "routes.doctorProfile" class="btn view-btn">View Profile</a>
                                    </div>
                                    <div class="col-6">
                                        <a [routerLink] = "routes.booking1" class="btn book-btn">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="profile-widget">
                            <div class="doc-img">
                                <a [routerLink] = "routes.doctorProfile">
                                    <img class="img-fluid" alt="User Image" src="assets/img/doctors/doctor-10.jpg">
                                </a>
                                <a href="javascript:void(0)" class="fav-btn" (click)="toggleClass(9)" (keydown)="toggleClass(9)" tabindex="1" [ngClass]="{ like: isClassAdded[9] }">
                                    <i class="far fa-bookmark"></i>
                                </a>
                            </div>
                            <div class="pro-content">
                                <h3 class="title">
                                    <a [routerLink] = "routes.doctorProfile">Dr. Olga Barlow</a> 
                                    <i class="fas fa-check-circle verified"></i>
                                </h3>
                                <p class="speciality">MDS - Periodontology and Oral Implantology, BDS</p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star me-1"></i>
                                    <span class="d-inline-block average-rating">(65)</span>
                                </div>
                                <ul class="available-info">
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i> Montana, USA
                                    </li>
                                    <li>
                                        <i class="far fa-clock"></i> Available on Fri, 22 Mar
                                    </li>
                                    <li>
                                        <i class="far fa-money-bill-alt"></i> $75 - $250 
                                        <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Lorem Ipsum"></i>
                                    </li>
                                </ul>
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a [routerLink] = "routes.doctorProfile" class="btn view-btn">View Profile</a>
                                    </div>
                                    <div class="col-6">
                                        <a [routerLink] = "routes.booking1" class="btn book-btn">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="profile-widget">
                            <div class="doc-img">
                                <a [routerLink] = "routes.doctorProfile">
                                    <img class="img-fluid" alt="User Image" src="assets/img/doctors/doctor-11.jpg">
                                </a>
                                <a href="javascript:void(0)" class="fav-btn" (click)="toggleClass(10)" [ngClass]="{ like: isClassAdded[10] }">
                                    <i class="far fa-bookmark"></i>
                                </a>
                            </div>
                            <div class="pro-content">
                                <h3 class="title">
                                    <a [routerLink] = "routes.doctorProfile">Dr. Julia Washington</a> 
                                    <i class="fas fa-check-circle verified"></i>
                                </h3>
                                <p class="speciality">MBBS, MD - General Medicine, DM - Endocrinology</p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star me-1"></i>
                                    <span class="d-inline-block average-rating">(5)</span>
                                </div>
                                <ul class="available-info">
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i> Oklahoma, USA
                                    </li>
                                    <li>
                                        <i class="far fa-clock"></i> Available on Fri, 22 Mar
                                    </li>
                                    <li>
                                        <i class="far fa-money-bill-alt"></i> $275 - $450 
                                        <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Lorem Ipsum"></i>
                                    </li>
                                </ul>
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a [routerLink] = "routes.doctorProfile" class="btn view-btn">View Profile</a>
                                    </div>
                                    <div class="col-6">
                                        <a [routerLink] = "routes.booking1" class="btn book-btn">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="profile-widget">
                            <div class="doc-img">
                                <a [routerLink] = "routes.doctorProfile">
                                    <img class="img-fluid" alt="User Image" src="assets/img/doctors/doctor-12.jpg">
                                </a>
                                <a href="javascript:void(0)" class="fav-btn" (click)="toggleClass(11)" [ngClass]="{ like: isClassAdded[11] }">
                                    <i class="far fa-bookmark"></i>
                                </a>
                            </div>
                            <div class="pro-content">
                                <h3 class="title">
                                    <a [routerLink] = "routes.doctorProfile">Dr. Shaun Aponte</a> 
                                    <i class="fas fa-check-circle verified"></i>
                                </h3>
                                <p class="speciality">MBBS, MS - ENT, Diploma in Otorhinolaryngology (DLO)</p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star me-1"></i>
                                    <span class="d-inline-block average-rating">(5)</span>
                                </div>
                                <ul class="available-info">
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i> Indiana, USA
                                    </li>
                                    <li>
                                        <i class="far fa-clock"></i> Available on Fri, 22 Mar
                                    </li>
                                    <li>
                                        <i class="far fa-money-bill-alt"></i> $150 - $350 
                                        <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Lorem Ipsum"></i>
                                    </li>
                                </ul>
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a [routerLink] = "routes.doctorProfile" class="btn view-btn">View Profile</a>
                                    </div>
                                    <div class="col-6">
                                        <a [routerLink] = "routes.booking1" class="btn book-btn">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>

</div>		
<!-- /Page Content -->