<!-- Breadcrumb -->
<div class="breadcrumb-bar-two">
    <div class="container">
        <div class="row align-items-center inner-banner">
            <div class="col-md-12 col-12 text-center">
                <h2 class="breadcrumb-title">Medical Records</h2>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink] = "routes.home1">Home</a></li>
                        <li class="breadcrumb-item" aria-current="page">Medical Records</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container">

        <div class="row">
            
            <!-- Profile Sidebar -->
            <div class="col-md-5 col-lg-4 col-xl-3 ">
                <div class="stickybar">
                <div class="profile-sidebar">
                    <div class="widget-profile pro-widget-content">
                        <div class="profile-info-widget">
                            <a href="javascript:void(0)" class="booking-doc-img">
                                <img src="assets/img/patients/patient.jpg" alt="User Image">
                            </a>
                            <div class="profile-det-info">
                                <h3>Richard Wilson</h3>
                                <div class="patient-details">
                                    <h5><i class="fas fa-birthday-cake"></i> 24 Jul 1983, 38 years</h5>
                                    <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Newyork, USA</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-widget">
                        <nav class="dashboard-menu">
                            <ul>
                                <li>
                                    <a [routerLink] = "routes.patientDashboard">
                                        <i class="fas fa-columns"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.favourites">
                                        <i class="fas fa-bookmark"></i>
                                        <span>Favourites</span>
                                    </a>
                                </li> 
                                <li>
                                    <a [routerLink] = "routes.dependentList">
                                        <i class="fas fa-users"></i>
                                        <span>Dependent</span>
                                    </a>
                                </li> 
                                <li>
                                    <a [routerLink] = "routes.chat">
                                        <i class="fas fa-comments"></i>
                                        <span>Message</span>
                                        <small class="unread-msg">23</small>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.patientAccounts">
                                        <i class="fas fa-file-invoice-dollar"></i>
                                        <span>Accounts</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.ordersList">
                                        <i class="fas fa-list-alt"></i>
                                        <span>Orders</span>
                                        <small class="unread-msg">7</small>
                                    </a>
                                </li>
                                <li class="active">
                                    <a [routerLink] = "routes.medicalRecords">
                                        <i class="fas fa-clipboard"></i>
                                        <span>Add Medical Records</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.medicalDetails">
                                        <i class="fas fa-file-medical-alt"></i>
                                        <span>Medical Details</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.profileSettings">
                                        <i class="fas fa-user-cog"></i>
                                        <span>Profile Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.patientsChangePassword">
                                        <i class="fas fa-lock"></i>
                                        <span>Change Password</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.userLogin">
                                        <i class="fas fa-sign-out-alt"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
                </div>
            </div>
            <!-- / Profile Sidebar -->
            
            <div class="col-md-7 col-lg-8 col-xl-9">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body pt-0">
                            
                                <!-- Tab Menu -->
                                <nav class="user-tabs mb-4">
                                    <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#pat_medicalrecords" data-bs-toggle="tab">Medical Records</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#pat_prescription" data-bs-toggle="tab">Prescription</a>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- /Tab Menu -->
                                
                                <!-- Tab Content -->
                                <div class="tab-content pt-0">
                                    
                                    <!-- Medical Records Tab -->
                                    <div id="pat_medicalrecords" class="tab-pane fade show active">
                                        <div class="text-end">		
                                            <a href="javascript:void(0)" class="add-new-btn" data-bs-toggle="modal" data-bs-target="#add_medical_records_modal">Add Medical Records</a>
                                        </div>
                                        <div class="card card-table mb-0">
                                            <div class="card-body user">
                                                <div class="table-responsive header-space">
                                                    <app-pagination-header></app-pagination-header>
                                                    <table matSort (matSortChange)="sortData($event)" class="table table-hover table-center mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th mat-sort-header="id">#</th>
                                                                <th mat-sort-header=" Name">Name</th>
                                                                <th mat-sort-header="date">Date</th>
                                                                <th mat-sort-header="description">Description</th>
                                                                <th mat-sort-header="attachment">Attachment</th>
                                                                <th mat-sort-header="orderby">Orderd By</th>
                                                                <th mat-sort-header="action">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr  *ngFor = "let data of tableData">
                                                                <td>{{data.id}}</td>
                                                                <td>{{data.Name}}</td>
                                                                <td>{{data.date}}<span class="d-block text-info">{{data.time}}</span></td>
                                                                <td>{{data.description}}</td>
                                                                <td>
                                                                    <a href="javascript:void(0);" title="Download attachment" class="btn btn-primary btn-sm"> <i class="fa fa-download"></i></a>
                                                                </td>
                                                                <td>{{data.orderby}}</td>
                                                                <td>
                                                                    <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                                        <i class="far fa-trash-alt"></i> 
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                           
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <app-custom-pagination></app-custom-pagination>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Medical Records Tab -->
                                    
                                    <!-- Prescription Tab -->
                                     <div class="tab-pane fade" id="pat_prescription">
                                        <div class="card card-table mb-0">
                                            <div class="card-body user">
                                                <div class="table-responsive header-space">
                                                    <app-pagination-header></app-pagination-header>
                                                    <table  matSort (matSortChange)="sortData2($event)" class="table table-hover table-center mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th mat-sort-header="id">#</th>
                                                                <th mat-sort-header="date">Date</th>
                                                                <th mat-sort-header="Name">Name</th>
                                                                <th mat-sort-header="doctor">Doctor</th>
                                                                <th mat-sort-header="action">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor = "let data of tableData2">
                                                                <td>{{data.id}}</td>
                                                                <td>{{data.date}} <span class="d-block text-info">{{data.time}}</span></td>
                                                                <td>{{data.Name}}</td>
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <a [routerLink] = "routes.doctorProfile" class="avatar avatar-sm me-2">
                                                                            <img class="avatar-img rounded-circle" [src]="data.img" alt="User Image">
                                                                        </a>
                                                                        <a [routerLink] = "routes.doctorProfile">{{data.doctor}} <span>{{data.group}}</span></a>
                                                                    </h2>
                                                                </td>
                                                                <td>
                                                                    <div class="table-action">
                                                                        <a href="javascript:void(0);" class="btn btn-sm bg-info-light me-1">
                                                                            <i class="far fa-eye"></i> View
                                                                        </a>
                                                                        
                                                                        <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                                                            <i class="fas fa-print"></i> Print
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                          
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <app-custom-pagination></app-custom-pagination>
                                            </div>
                                        </div>
                                    </div> 
                                    <!-- /Prescription Tab -->
                                        
                                </div>
                                <!-- Tab Content -->
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>		
<!-- /Page Content -->