<!-- Breadcrumb -->
<div class="breadcrumb-bar-two">
    <div class="container">
        <div class="row align-items-center inner-banner">
            <div class="col-md-12 col-12 text-center">
                <h2 class="breadcrumb-title">Medical Details</h2>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink] = "routes.home1">Home</a></li>
                        <li class="breadcrumb-item" aria-current="page">Medical Details</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container">

        <div class="row">
            
            <!-- Profile Sidebar -->
            <div class="col-md-5 col-lg-4 col-xl-3 ">
                <div class="stickybar">
                <div class="profile-sidebar">
                    <div class="widget-profile pro-widget-content">
                        <div class="profile-info-widget">
                            <a href="javascript:void(0)" class="booking-doc-img">
                                <img src="assets/img/patients/patient.jpg" alt="User Image">
                            </a>
                            <div class="profile-det-info">
                                <h3>Richard Wilson</h3>
                                <div class="patient-details">
                                    <h5><i class="fas fa-birthday-cake"></i> 24 Jul 1983, 38 years</h5>
                                    <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Newyork, USA</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-widget">
                        <nav class="dashboard-menu">
                            <ul>
                                <li>
                                    <a [routerLink] = "routes.patientDashboard">
                                        <i class="fas fa-columns"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.favourites">
                                        <i class="fas fa-bookmark"></i>
                                        <span>Favourites</span>
                                    </a>
                                </li> 
                                <li>
                                    <a [routerLink] = "routes.dependentList">
                                        <i class="fas fa-users"></i>
                                        <span>Dependent</span>
                                    </a>
                                </li> 
                                <li>
                                    <a [routerLink] = "routes.chat">
                                        <i class="fas fa-comments"></i>
                                        <span>Message</span>
                                        <small class="unread-msg">23</small>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.patientAccounts">
                                        <i class="fas fa-file-invoice-dollar"></i>
                                        <span>Accounts</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.ordersList">
                                        <i class="fas fa-list-alt"></i>
                                        <span>Orders</span>
                                        <small class="unread-msg">7</small>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.medicalRecords">
                                        <i class="fas fa-clipboard"></i>
                                        <span>Add Medical Records</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a [routerLink] = "routes.medicalDetails">
                                        <i class="fas fa-file-medical-alt"></i>
                                        <span>Medical Details</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.profileSettings">
                                        <i class="fas fa-user-cog"></i>
                                        <span>Profile Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.patientsChangePassword">
                                        <i class="fas fa-lock"></i>
                                        <span>Change Password</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.userLogin">
                                        <i class="fas fa-sign-out-alt"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
                </div>
            </div>
            <!-- / Profile Sidebar -->
            
            <div class="col-md-7 col-lg-8 col-xl-9">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title float-start pt-2">Medical details</h4>
                                <a href="#modal_medical_form" class="btn btn-primary float-end" data-bs-toggle="modal">Add Details</a>
                            </div>
                            <div class="card-body user">
                                <div class="card card-table mb-0">
                                    <div class="card-body">
                                        <div class="table-responsive header-space">
                                            <app-pagination-header></app-pagination-header>
                                            <table matSort (matSortChange)="sortData($event)" class="table table-hover table-center mb-0">
                                                <thead>
                                                    <tr>
                                                        <th mat-sort-header="id">#</th>
                                                        <th mat-sort-header="name">Name</th>
                                                        <th mat-sort-header="bmi">BMI</th>
                                                        <th mat-sort-header="heartRate">Heart Rate</th>
                                                        <th mat-sort-header="fbcStatus">FBC Status</th>
                                                        <th mat-sort-header="weight">Weight</th>
                                                        <th mat-sort-header="orderDate">Order date</th>
                                                        <th mat-sort-header="action">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor = "let data of tableData">
                                                        <td>{{data.id}}</td>
                                                        <td>{{data.name}}</td>
                                                        <td>{{data.bmi}}</td>
                                                        <td>{{data.heartRate}}</td>
                                                        <td>{{data.fbcStatus}}</td>
                                                        <td>{{data.weight}}</td>
                                                        <td>{{data.orderDate}} <span class="d-block text-info">{{data.orderTime}}</span></td>
                                                        <td>
                                                            <div class="table-action">
                                                                <a href="#edit_medical_form" class="btn btn-sm bg-info-light me-1" data-bs-toggle="modal">
                                                                    <i class="fas fa-edit"></i> Edit
                                                                </a>
                                                                <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                                    <i class="fas fa-trash-alt"></i> Delete
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                        <app-custom-pagination></app-custom-pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>		
<!-- /Page Content -->
 
