<!-- Breadcrumb -->
<div class="breadcrumb-bar-two">
    <div class="container">
        <div class="row align-items-center inner-banner">
            <div class="col-md-12 col-12 text-center">
                <h2 class="breadcrumb-title">Invoices</h2>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink] = "routes.home1">Home</a></li>
                        <li class="breadcrumb-item" aria-current="page">Invoices</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-md-5 col-lg-4 col-xl-3 ">
                <div class="stickybar">
                <!-- Profile Sidebar -->
                <div class="profile-sidebar">
                    <div class="widget-profile pro-widget-content">
                        <div class="profile-info-widget">
                            <a href="javascript:void(0)" class="booking-doc-img">
                                <img src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image">
                            </a>
                            <div class="profile-det-info">
                                <h3>Dr. Darren Elder</h3>
                                
                                <div class="patient-details">
                                    <h5 class="mb-0">BDS, MDS - Oral & Maxillofacial Surgery</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-widget">
                        <nav class="dashboard-menu">
                            <ul>
                                <li>
                                    <a [routerLink] = "routes.doctorDashboard">
                                        <i class="fas fa-columns"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.appointments"
>
                                        <i class="fas fa-calendar-check"></i>
                                        <span>Appointments</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.myPatients">
                                        <i class="fas fa-user-injured"></i>
                                        <span>My Patients</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.scheduleTimings">
                                        <i class="fas fa-hourglass-start"></i>
                                        <span>Schedule Timings</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.availableTimings">
                                        <i class="fas fa-clock"></i>
                                        <span>Available Timings</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a [routerLink] = "routes.invoice">
                                        <i class="fas fa-file-invoice"></i>
                                        <span>Invoices</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.accounts">
                                        <i class="fas fa-file-invoice-dollar"></i>
                                        <span>Accounts</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.userReviews">
                                        <i class="fas fa-star"></i>
                                        <span>Reviews</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.chatDoctor">
                                        <i class="fas fa-comments"></i>
                                        <span>Message</span>
                                        <small class="unread-msg">23</small>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.doctorProfileSettings">
                                        <i class="fas fa-user-cog"></i>
                                        <span>Profile Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.socialMedia">
                                        <i class="fas fa-share-alt"></i>
                                        <span>Social Media</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.doctorChangePassword">
                                        <i class="fas fa-lock"></i>
                                        <span>Change Password</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] = "routes.userLogin">
                                        <i class="fas fa-sign-out-alt"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /Profile Sidebar -->
                </div>
            </div>
            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="card card-table">
                    <div class="card-body user">
                    
                        <!-- Invoice Table -->
                        <div class="table-responsive">
                            <app-pagination-header></app-pagination-header>
                            <table  matSort (matSortChange)="sortData($event)" class="table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th mat-sort-header="invoiceno">Invoice No</th>
                                        <th mat-sort-header="patientName">Patient</th>
                                        <th mat-sort-header="amount">Amount</th>
                                        <th mat-sort-header="paidon">Paid On</th>
                                        <th mat-sort-header="action">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor = "let data of tableData">
                                        <td>
                                            <a [routerLink] = "routes.invoiceView">{{data.invoiceno}}</a>
                                        </td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a [routerLink] = "routes.patientProfile" class="avatar avatar-sm me-2">
                                                    <img class="avatar-img rounded-circle" [src]="data.img" alt="User Image">
                                                </a>
                                                <a [routerLink] = "routes.patientProfile">{{data.patientName}} <span>{{data.patientid}}</span></a>
                                            </h2>
                                        </td>
                                        <td>{{data.amount}}</td>
                                        <td>{{data.date}}</td>
                                        <td>
                                            <div class="table-action me-2" >
                                                <a [routerLink] = "routes.invoiceView" class="btn btn-sm bg-info-light me-1">
                                                    <i class="far fa-eye"></i> View
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                    <i class="fas fa-print"></i> Print
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                        <app-custom-pagination></app-custom-pagination>
                        <!-- /Invoice Table -->
                        
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>		
<!-- /Page Content -->