<app-header></app-header>

<!-- Home Banner -->
<section class="banner-section" id="inicio">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="banner-content aos" data-aos="fade-up" data-aos-duration="2000">
                    <h6><img src="assets/img/icons/heart-2.svg" class="me-2" alt="heart-icon">Siempre contigo
                    </h6>
                    <h1><span>Enfermería MC. </span><br>Cuidado<br/>calidez profesionalismo.</h1>
                    <p>Confía en nosotros para cuidar de ti y tus seres queridos con calidez y profesionalismo.</p>
                    <a class="btn plan-btn">Comunicate con nosotros</a>

                </div>

            </div>
            <div class="col-lg-5">
                <div class="banner-img aos" data-aos="fade-up" data-aos-duration="2000">
                    <!--
                    <img src="assets/img/bg/home-10-banner-img.png" class="img-fluid" alt="doctor-image">
                    -->
                    <img src="assets/img/bg/heart-bg.png" class="img-fluid" alt="heart-image">

                </div>
            </div>
           
        </div>
    </div>
</section>
<!-- /Home Banner -->

<!-- Need To Know -->
<section class="need-to-know-section" id="quienesSomos">
    <div class="floating-bg">
        <img src="assets/img/bg/health-care.png" alt="heart-image">
    </div>
    <div class="container" >
        <div class="row">
            <div class="col-lg-8 col-sm-12 aos" data-aos="fade-up" data-aos-duration="2000">
                <div class="section-header-one section-header-slider">
                    <h2 class="section-title">Quienes <span>Somos</span></h2>
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link tag-list active" id="pills-home-tab" data-bs-toggle="pill"
                                data-bs-target="#content_1" type="button" role="tab" aria-controls="content_1"
                                aria-selected="true">Nosotros</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link tag-list" id="pills-profile-tab" data-bs-toggle="pill"
                                data-bs-target="#content_2" type="button" role="tab" aria-controls="content_2"
                                aria-selected="false">Misión</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link tag-list" id="pills-contact-tab" data-bs-toggle="pill"
                                data-bs-target="#content_3" type="button" role="tab" aria-controls="content_3"
                                aria-selected="false">Visión</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="content_1" role="tabpanel"
                            aria-labelledby="pills-home-tab">
                            <div class="need-to-know-content">
                                <p>
                                    Somos una empresa enfocada en brindar seguridad y apoyo, dedicándonos con esmero día a día al cuidado de nuestros pacientes, proporcionando el personal adecuado y calificado de acuerdo con las características y necesidades individuales de cada uno de ellos, coordinando los esfuerzos de todo el personal involucrado.
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="content_2" role="tabpanel"
                            aria-labelledby="pills-profile-tab">
                            <div class="need-to-know-content">
                                <p>
                                    Somos una empresa dedicada a brindar servicios de cuidados especializados en salud a nivel particular, con un firme compromiso hacia la calidad integral. Nuestro objetivo es apoyar a los pacientes en el cumplimiento de sus tratamientos prescritos, ofreciendo atención personalizada, seguridad y tranquilidad tanto a ellos como a sus familias.
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="content_3" role="tabpanel"
                            aria-labelledby="pills-contact-tab">
                            <div class="need-to-know-content">
                                <p>
                                    Ser la mejor agencia de enfermería privada a nivel nacional, contando con personal altamente calificado y con métodos y procedimientos actualizados para cuidar la vulnerabilidad y dignidad de nuestros pacientes.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 aos" data-aos="fade-up" data-aos-duration="2000">
                <div class="gallery-box-block">
                    <div class="gallery-box-left">
                        <div class="box-detail mb-2 ">
                            <img src="assets/img/1.jpg" class="img-fluid" alt="doctor-image">
                        </div>
                        <div class="box-detail">
                            <img src="assets/img/2.jpg" class="img-fluid" alt="heart-image">
                        </div>
                    </div>
                    <div class="gallery-box-right">
                        <div class="box-detail">
                            <img src="assets/img/3.jpg" class="img-fluid" alt="heart-image">
                        </div>
                        <div class="box-detail">
                            <img src="assets/img/4.jpg" class="img-fluid" alt="doctor-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Need To Know -->

<!-- Service Section -->
<section class="service-section" id="nuestrosServicios">
    <div class="container">
        <div class="row">
            <div class="col-md-12 aos" data-aos="fade-up" data-aos-duration="2000">
                <div class="section-header-one section-header-slider">
                    <h2 class="section-title">Nuestros <span>Servicios</span></h2>
                </div>
            </div>
        </div>
        <div class="row row-gap aos justify-content-center" data-aos="fade-up" data-aos-duration="2000">
            <div class="col-md-6 col-sm-12 col-lg-4">
                <div class="listing-card">
                    <div class="listing-img">
                        <a><img src="assets/img/EnfGeneral.jpeg" class="img-fluid" style="height: 260px;"
                                alt="surgery-image"></a>
                    </div>
                    <div class="listing-content">
                        <div class="listing-details">
                            <div class="listing-title">
                                <h3>
                                    <a>Enfermera general</a>
                                </h3>
                                <p>
                                    Proporcionamos un servicio de enfermeras a domicilio de calidad sin necesidad de traslado o de salir de casa.
                                </p>
                            </div>
                            <div class="listing-profile-details">
                                <div class="pricing-list">
                                    <ul>
                                        <li>Baño, aseo</li>
                                        <li>Administración de medicamentos</li>
                                        <li>Alimentación</li>
                                        
                                        <li>Vigilancia y control de necesidades fisicas</li>
                                        <li>Monitoreo de signos vitales</li>
                                        <li>Elaboración de informe de enfermería</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <div class="col-md-6 col-sm-12 col-lg-4">
                <div class="listing-card">
                    <div class="listing-img">
                        <a ><img src="assets/img/EnfCuidadora.jpg" class="img-fluid" style="height: 260px;"
                                alt="surgery-image"></a>
                    </div>
                    <div class="listing-content">
                        <div class="listing-details">
                            <div class="listing-title">
                                <h3>
                                    <a>Cuidado de niños</a>
                                </h3>
                                <p>
                                    Proporcionamos el apoyo de una enfermera para el cuidado de niños.
                                </p>
                            </div>
                            <div class="listing-profile-details">
                                <div class="pricing-list">
                                    <ul>
                                        <li>Cuidados de los niños</li>
                                        <li>Vigilancia de signos vitales</li>
                                        <li>Apoyo en alimentación</li>
                                        <li>Servicio de niñera</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-lg-4">
                <div class="listing-card">
                    <div class="listing-img">
                        <a><img src="assets/img/EnfEspecialista.jpg" class="img-fluid" style="height: 260px;"
                                alt="surgery-image"></a>
                    </div>
                    <div class="listing-content">
                        <div class="listing-details">
                            <div class="listing-title">
                                <h3>
                                    <a>Enfermera especialistas</a>
                                </h3>
                                <p>
                                    Personal adecuado para la atencion de necesidades especificas de nuestros pacientes.
                                </p>
                            </div>
                            <div class="listing-profile-details">
                                <div class="pricing-list">
                                    <ul>
                                        <li>Neurología</li>
                                        <li>Cardiología</li>
                                        <li>Traumatología</li>
                                        <li>Geriatría</li>
                                        <li>Pediatría</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>
<!-- /Service Section -->

<!-- Our Doctor 
<section class="our-doctor-section">
    <div class="section-floating-bg">
        <img src="assets/img/bg/hexagen-group-1.png" alt="design-image">
        <img src="assets/img/bg/hexagon-group-2.png" alt="design-image">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 aos" data-aos="fade-up" data-aos-duration="2000">
                <div class="section-header-one section-header-slider">
                    <h2 class="section-title">Nuestro <span>Equipo</span></h2>
                </div>
            </div>
        </div>
        <div class="row row-gap aos justify-content-center" data-aos="fade-up" data-aos-duration="2000">
            <div class="col-md-6 col-sm-12 col-xl-3 col-lg-4">
                <div class="module-border-wrap">
                    <div class="listing-card">
                        <div class="listing-img">
                            <a [routerLink] = "routes.doctorProfile"><img src="assets/img/doctors/doctor-13.jpg"
                                    class="img-fluid" alt="Jonathan Behar"></a>
                            <div class="fav-item" (click)="toggleClass(6)" (keydown)="toggleClass(6)" tabindex="1" [ngClass]="{selected: isClassAdded[6]}">
                                
                            </div>
                        </div>
                        <div class="listing-content">
                            <div class="listing-details">
                                <div class="listing-profile-details">
                                    <div class="listing-floating-img">
                                        <img src="assets/img/bg/ecg-wave.png" alt="ecg-wave">
                                    </div>
                                    <div class="listing-user">
                                        <div class="listing-user-details">
                                            <h6><a [routerLink] = "routes.doctorProfile">Enfermeras Especialistas </a></h6>
                                        </div>
                                    </div>
                                    <div class="listing-btn">
                                        <a [routerLink] = "routes.booking2" class="btn consult-btn">&nbsp;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xl-3 col-lg-4">
                <div class="module-border-wrap">
                    <div class="listing-card">
                        <div class="listing-img">
                            <a [routerLink] = "routes.doctorProfile"><img src="assets/img/doctors/doctor-13.jpg"
                                    class="img-fluid" alt="Jonathan Behar"></a>
                            <div class="fav-item" (click)="toggleClass(6)" (keydown)="toggleClass(6)" tabindex="1" [ngClass]="{selected: isClassAdded[6]}">
                                
                            </div>
                        </div>
                        <div class="listing-content">
                            <div class="listing-details">
                                <div class="listing-profile-details">
                                    <div class="listing-floating-img">
                                        <img src="assets/img/bg/ecg-wave.png" alt="ecg-wave">
                                    </div>
                                    <div class="listing-user">
                                        <div class="listing-user-details">
                                            <h6><a [routerLink] = "routes.doctorProfile">Enfermeras generales </a></h6>
                                        </div>
                                    </div>
                                    <div class="listing-btn">
                                        <a [routerLink] = "routes.booking2" class="btn consult-btn">&nbsp;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xl-3 col-lg-4">
                <div class="module-border-wrap">
                    <div class="listing-card">
                        <div class="listing-img">
                            <a [routerLink] = "routes.doctorProfile"><img src="assets/img/doctors/doctor-13.jpg"
                                    class="img-fluid" alt="Jonathan Behar"></a>
                            <div class="fav-item" (click)="toggleClass(6)" (keydown)="toggleClass(6)" tabindex="1" [ngClass]="{selected: isClassAdded[6]}">
                                
                            </div>
                        </div>
                        <div class="listing-content">
                            <div class="listing-details">
                                <div class="listing-profile-details">
                                    <div class="listing-floating-img">
                                        <img src="assets/img/bg/ecg-wave.png" alt="ecg-wave">
                                    </div>
                                    <div class="listing-user">
                                        <div class="listing-user-details">
                                            <h6><a [routerLink] = "routes.doctorProfile">Cuidadoras </a></h6>
                                        </div>
                                    </div>
                                    <div class="listing-btn">
                                        <a [routerLink] = "routes.booking2" class="btn consult-btn">&nbsp;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           


        </div>
    </div>
</section>-->
<!-- /Our Doctor -->

<!-- Steps To Follow-->
<section class="need-to-know-section steps-to-follow" id="nuevosPacientes">
    <div class="floating-bg">
        <img src="assets/img/bg/health-care.png" alt="heart-image">
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12 aos" data-aos="fade-up" data-aos-duration="2000">
                <div class="gallery-box-block">
                    <div class="gallery-box-right">
                        <div class="box-detail">
                            <div class="steps-list-box">
                                <div class="steps-list-img">
                                    <span>1</span>
                                    <img src="assets/img/icons/hreat-pulse.svg" class="img-fluid" alt="heart-pulse">
                                </div>
                                <h6>Comunicate con nostros</h6>
                                <p>Comunicate con nosotros para contestar nuestro cuestionario inicial.</p>
                            </div>
                        </div>
                        <div class="box-detail">
                            <div class="steps-list-box">
                                <div class="steps-list-img">
                                    <span>3</span>
                                    <img src="assets/img/icons/hreat-pulse.svg" class="img-fluid" alt="heart-pulse">
                                </div>
                                <h6>Recibe tu cotizacion</h6>
                                <p>Te informaremos sobre la cotización de tu servicio.</p>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-box-left">
                        <div class="box-detail mb-4 ">
                            <div class="steps-list-box">
                                <div class="steps-list-img">
                                    <span>2</span>
                                    <img src="assets/img/icons/hreat-pulse.svg" class="img-fluid" alt="heart-pulse">
                                </div>
                                <h6>Cuestionario</h6>
                                <p>Solicita nuestro cuestionario para saber que tipo de servicio necesitas.</p>
                            </div>
                        </div>
                        <div class="box-detail">
                            <div class="steps-list-box">
                                <div class="steps-list-img">
                                    <span>4</span>
                                    <img src="assets/img/icons/hreat-pulse.svg" class="img-fluid" alt="heart-pulse">
                                </div>
                                <h6>Asignación</h6>
                                <p>Te haremos llegar la informacion del personal que se adapta mejor a tus necesidades</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-7 col-md-12 aos" data-aos="fade-up" data-aos-duration="2000">
                <div class="section-header-one section-header-slider">
                    <h2 class="section-title">Pasos para <span>Nuevos Pacientes</span></h2>
                    <div class="need-to-know-content">
                        <p>
                            Contratar nuestros servicios de enfermería a domicilio es muy sencillo. Solo sigue estos pasos:
<br/><br/>
Comunícate con nosotros a través de nuestro número telefónico.
<br/><br/>
Completa un breve cuestionario para conocer tus necesidades específicas.
<br/><br/>
Recibe una cotización detallada y elige el servicio que mejor se adapte a ti.
Estamos aquí para brindarte atención personalizada, con calidez y profesionalismo.
                        </p>
                        <div class="content-btn-block d-flex">
                            <a class=" need-to-know-content-btn book-btn me-2">Comunicate con nostros</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- /Steps To Follow -->

<!-- FAQ Section -->
<section class="faq-section faq-section-ten" id="preguntasFrecuentes">
    <div class="floating-bg">
        <img src="assets/img/bg/health-care.png" alt="heart-image">
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 aos" data-aos="fade-up" data-aos-duration="2000">
                <div class="faq-img">
                    <img src="assets/img/EnfFondoBlanco.jpg" class="img-fluid" alt="img">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="section-header-one aos" data-aos="fade-up" data-aos-duration="2000">
                    <h2 class="section-title">Preguntas <span>Frecuentes</span></h2>
                </div>
                <div class="faq-info aos" data-aos="fade-up" data-aos-duration="2000">
                    <div class="accordion" id="faq-details">

                        <!-- FAQ Item -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <a href="javascript:void(0);" class="accordion-button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    ¿Cómo puedo solicitar un servicio de enfermería a domicilio?
                                </a>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                aria-labelledby="headingOne" data-bs-parent="#faq-details">
                                <div class="accordion-body">
                                    <div class="accordion-content">
                                        <p>Puedes solicitar nuestros servicios contactándonos a través de nuestro número telefónico o correo electrónico. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /FAQ Item -->

                        <!-- FAQ Item -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <a href="javascript:void(0);" class="accordion-button collapsed"
                                    data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    ¿Qué información necesito proporcionar para obtener una cotización?
                                </a>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse"
                                aria-labelledby="headingTwo" data-bs-parent="#faq-details">
                                <div class="accordion-body">
                                    <div class="accordion-content">
                                        <p>Necesitarás completar un cuestionario detallando las necesidades del paciente, su historial médico y el tipo de cuidado requerido. Con esta información, podremos ofrecerte una cotización precisa.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /FAQ Item -->

                        <!-- FAQ Item -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <a href="javascript:void(0);" class="accordion-button collapsed"
                                    data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree">
                                    ¿Qué certificaciones tienen sus enfermeras?
                                </a>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse"
                                aria-labelledby="headingThree" data-bs-parent="#faq-details">
                                <div class="accordion-body">
                                    <div class="accordion-content">
                                        <p>Todas nuestras enfermeras están certificadas y cuentan con las credenciales necesarias para ejercer, además de tener experiencia en atención domiciliaria.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /FAQ Item -->

                        <!-- FAQ Item -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <a href="javascript:void(0);" class="accordion-button collapsed"
                                    data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                    aria-expanded="false" aria-controls="collapseFour">
                                    ¿Puedo cancelar o reprogramar una visita?
                                </a>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse"
                                aria-labelledby="headingFour" data-bs-parent="#faq-details">
                                <div class="accordion-body">
                                    <div class="accordion-content">
                                        <p>Sí, entendemos que pueden surgir imprevistos. Te pedimos que nos avises con al menos 24 horas de antelación para cancelar o reprogramar una visita sin penalización. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /FAQ Item -->

                        <!-- FAQ Item -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <a href="javascript:void(0);" class="accordion-button collapsed"
                                    data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                    aria-expanded="false" aria-controls="collapseFive">
                                    ¿Cómo se manejan los pagos?
                                </a>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse"
                                aria-labelledby="headingFive" data-bs-parent="#faq-details">
                                <div class="accordion-body">
                                    <div class="accordion-content">
                                        <p>Aceptamos diversas formas de pago, incluyendo tarjetas de crédito y transferencias bancarias. Los detalles específicos se pueden acordar durante la cotización.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /FAQ Item -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /FAQ Section -->

<!-- contact -->
<section class="appointment-section-fifteen" id="bolsaDeTrabajo">
    <div class="container">
        <div class="row ">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-6">
               <div class="section-header-one section-header-slider">
                    <h2 style="color: white;">Bolsa de Trabajo </h2>
                    <p style="color: white;">Envianos tus datos y forma parte de nuestro grupo de trabajo.</p>
                    <div class="need-to-know-content">
                        <div class="doctor-form">
                            <form action="#" class="doctor-search-form">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <div class="form-custom">
                                                <input type="text" class="form-control" value="" placeholder="Nombre">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <div class="form-custom">
                                                <input type="text" class="form-control" value="" placeholder="Teléfono">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <div class="form-custom">
                                                <input type="text" class="form-control" value="" placeholder="Correo electrónico">
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn" style="border: 2px solid white; border-radius: 12px; color: white;">Enviar</button>
                                    
                                </div>
                            </form>
                          
                        </div>
                       
                    </div>
                </div>
            </div>
            <!--
            <div class="col-lg-5">
                <div class="appointment-right-image appoint-fift-img">
                    <img src="assets/img/appointment-ryt-1.png" alt="Experience" class="img-fluid">
                </div>
            </div>
            -->
        </div>
    </div>
</section>
<!-- /contact -->





<!-- /Steps To Follow -->
<app-footer></app-footer>